#myHeader {
  text-align: center;
  padding: 10px 16px;
  background-image: linear-gradient(to right, #bd85dd, #510881);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

body {
  margin: 10px;
}

.btn {
  border: 2px solid black;
  background-color: rgb(197, 130, 236);
  color: white;
  margin: 10px;
}

.form-input {
  border: 2px solid black;
  border-radius: 5px;
}

.form-label {
  font-weight: 600px;
  font-size: medium;
}

.card-header {
  background-color: #bd85dd;
  color: white;
}

.list-group-item {
  border-radius: 20px;
}
.list-group-item:hover{
  cursor: pointer;
  transition: ease-in-out;
background-color: #bd85dd;
border-radius: 20px;
}

#clear-history {
  margin-left: 50px;
}